language: python
python:
  - "2.7"

env:
  - DATABASE_URL=postgresql://postgres@localhost:5432/ntorque_test

services:
  - redis-server

install:
  - "bash pip_install.sh"

before_script:
  - "psql -c 'create database ntorque_test;' -U postgres"

script:
  - "nosetests --verbose --with-doctest ntorque"
